*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% 0;
    gap: 20px;
}
button >a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
button{
    border-radius: 6px;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

